{{ 'accessories.css' | asset_url | stylesheet_tag }}

{%- style -%}

{%- endstyle -%}

<section class="accessories p-component">
  <div class="container accessories__container">
    <div class="accessories__label label">{{ section.settings.label }}</div>
    <div class="accessories__title title">{{ section.settings.title }}</div>
    <div class="accessories__list">
      {%- for block in section.blocks -%}
        <div class="accessories__item">
          <div class="accessories__item-image">
            <img src="{{ block.settings.image | image_url }}" alt=""/>
          </div>
          <div class="accessories__item-label">{{ block.settings.productName }}</div>
          <div class="accessories__item-price">${{ block.settings.price }}</div>
          <div class="accessories__item-vote">
            <div class="accessories__item-starts">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                <g clip-path="url(#clip0_1_252)">
                  <path d="M20 7.85445C20 7.55795 19.7757 7.37368 19.3268 7.30148L13.2933 6.42423L10.589 0.955369C10.4369 0.626831 10.2404 0.462646 10.0001 0.462646C9.75976 0.462646 9.56342 0.626831 9.41115 0.955369L6.70673 6.42423L0.672988 7.30148C0.224386 7.37368 0 7.55795 0 7.85445C0 8.0228 0.100195 8.21511 0.300542 8.43145L4.6756 12.6863L3.64195 18.6958C3.62591 18.808 3.61796 18.8884 3.61796 18.9363C3.61796 19.1045 3.65997 19.2467 3.74408 19.363C3.82815 19.4794 3.95428 19.5374 4.12263 19.5374C4.26695 19.5374 4.42713 19.4895 4.6034 19.3933L9.99994 16.5564L15.3969 19.3933C15.5654 19.4895 15.7256 19.5374 15.8774 19.5374C16.0382 19.5374 16.1601 19.4794 16.2443 19.363C16.3281 19.2469 16.3702 19.1045 16.3702 18.9363C16.3702 18.8323 16.3661 18.7521 16.3581 18.6958L15.3244 12.6863L19.6873 8.43145C19.896 8.2231 20 8.03071 20 7.85445Z" fill="#FFDD2B"/>
                </g>
                <defs>
                  <clipPath id="clip0_1_252">
                    <rect width="20" height="20" fill="white"/>
                  </clipPath>
                </defs>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                <g clip-path="url(#clip0_1_252)">
                  <path d="M20 7.85445C20 7.55795 19.7757 7.37368 19.3268 7.30148L13.2933 6.42423L10.589 0.955369C10.4369 0.626831 10.2404 0.462646 10.0001 0.462646C9.75976 0.462646 9.56342 0.626831 9.41115 0.955369L6.70673 6.42423L0.672988 7.30148C0.224386 7.37368 0 7.55795 0 7.85445C0 8.0228 0.100195 8.21511 0.300542 8.43145L4.6756 12.6863L3.64195 18.6958C3.62591 18.808 3.61796 18.8884 3.61796 18.9363C3.61796 19.1045 3.65997 19.2467 3.74408 19.363C3.82815 19.4794 3.95428 19.5374 4.12263 19.5374C4.26695 19.5374 4.42713 19.4895 4.6034 19.3933L9.99994 16.5564L15.3969 19.3933C15.5654 19.4895 15.7256 19.5374 15.8774 19.5374C16.0382 19.5374 16.1601 19.4794 16.2443 19.363C16.3281 19.2469 16.3702 19.1045 16.3702 18.9363C16.3702 18.8323 16.3661 18.7521 16.3581 18.6958L15.3244 12.6863L19.6873 8.43145C19.896 8.2231 20 8.03071 20 7.85445Z" fill="#FFDD2B"/>
                </g>
                <defs>
                  <clipPath id="clip0_1_252">
                    <rect width="20" height="20" fill="white"/>
                  </clipPath>
                </defs>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                <g clip-path="url(#clip0_1_252)">
                  <path d="M20 7.85445C20 7.55795 19.7757 7.37368 19.3268 7.30148L13.2933 6.42423L10.589 0.955369C10.4369 0.626831 10.2404 0.462646 10.0001 0.462646C9.75976 0.462646 9.56342 0.626831 9.41115 0.955369L6.70673 6.42423L0.672988 7.30148C0.224386 7.37368 0 7.55795 0 7.85445C0 8.0228 0.100195 8.21511 0.300542 8.43145L4.6756 12.6863L3.64195 18.6958C3.62591 18.808 3.61796 18.8884 3.61796 18.9363C3.61796 19.1045 3.65997 19.2467 3.74408 19.363C3.82815 19.4794 3.95428 19.5374 4.12263 19.5374C4.26695 19.5374 4.42713 19.4895 4.6034 19.3933L9.99994 16.5564L15.3969 19.3933C15.5654 19.4895 15.7256 19.5374 15.8774 19.5374C16.0382 19.5374 16.1601 19.4794 16.2443 19.363C16.3281 19.2469 16.3702 19.1045 16.3702 18.9363C16.3702 18.8323 16.3661 18.7521 16.3581 18.6958L15.3244 12.6863L19.6873 8.43145C19.896 8.2231 20 8.03071 20 7.85445Z" fill="#FFDD2B"/>
                </g>
                <defs>
                  <clipPath id="clip0_1_252">
                    <rect width="20" height="20" fill="white"/>
                  </clipPath>
                </defs>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                <g clip-path="url(#clip0_1_252)">
                  <path d="M20 7.85445C20 7.55795 19.7757 7.37368 19.3268 7.30148L13.2933 6.42423L10.589 0.955369C10.4369 0.626831 10.2404 0.462646 10.0001 0.462646C9.75976 0.462646 9.56342 0.626831 9.41115 0.955369L6.70673 6.42423L0.672988 7.30148C0.224386 7.37368 0 7.55795 0 7.85445C0 8.0228 0.100195 8.21511 0.300542 8.43145L4.6756 12.6863L3.64195 18.6958C3.62591 18.808 3.61796 18.8884 3.61796 18.9363C3.61796 19.1045 3.65997 19.2467 3.74408 19.363C3.82815 19.4794 3.95428 19.5374 4.12263 19.5374C4.26695 19.5374 4.42713 19.4895 4.6034 19.3933L9.99994 16.5564L15.3969 19.3933C15.5654 19.4895 15.7256 19.5374 15.8774 19.5374C16.0382 19.5374 16.1601 19.4794 16.2443 19.363C16.3281 19.2469 16.3702 19.1045 16.3702 18.9363C16.3702 18.8323 16.3661 18.7521 16.3581 18.6958L15.3244 12.6863L19.6873 8.43145C19.896 8.2231 20 8.03071 20 7.85445Z" fill="#FFDD2B"/>
                </g>
                <defs>
                  <clipPath id="clip0_1_252">
                    <rect width="20" height="20" fill="white"/>
                  </clipPath>
                </defs>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                <g clip-path="url(#clip0_1_243)">
                  <path d="M19.9774 7.71618C19.9053 7.49574 19.6889 7.35748 19.3286 7.30144L13.2945 6.42409L10.5902 0.954913C10.4217 0.626354 10.2255 0.462158 10.0012 0.462158C9.76884 0.462158 9.57248 0.626354 9.41228 0.954913L6.70765 6.42409L0.673516 7.30144C0.31296 7.35752 0.0965586 7.49574 0.0245232 7.71618C-0.0474281 7.93662 0.0446476 8.175 0.301003 8.43144L4.67634 12.6865L3.64263 18.6965C3.60263 18.9611 3.62659 19.1669 3.71483 19.3154C3.80291 19.4638 3.93923 19.5379 4.12351 19.5379C4.25979 19.5379 4.42003 19.4899 4.60431 19.3933L10.0015 16.5565L15.3984 19.3933C15.5827 19.4896 15.7431 19.5379 15.8793 19.5379C16.0638 19.5379 16.2002 19.4638 16.2881 19.3154C16.376 19.1669 16.4001 18.9611 16.36 18.6965L15.3264 12.6865L19.6894 8.43144C19.9539 8.175 20.05 7.93662 19.9774 7.71618ZM14.2562 11.5806L13.6672 12.1457L13.8116 12.939L14.5327 17.2063L10.7105 15.1869L10.0012 14.814V3.23874L11.9124 7.10925L12.2727 7.83036L13.0663 7.9506L17.3456 8.57555L14.2562 11.5806Z" fill="#FFDD2B"/>
                </g>
                <defs>
                  <clipPath id="clip0_1_243">
                    <rect width="20" height="20" fill="white"/>
                  </clipPath>
                </defs>
              </svg>
            </div>
            <div class="accessories__item-review">( 21 review )</div>
          </div>
          <div class="accessories__item-button">
            <a href="javascript:void(0)">Add to cart</a>
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Accessories",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "text",
      "id": "label",
      "default": "Label",
      "label": "Label"
    },
    {
      "type": "text",
      "id": "title",
      "default": "Title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Info",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "productName",
          "label": "Product Name"
        },
        {
          "type": "text",
          "id": "price",
          "label": "Price"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Accessories"
    }
  ]
}
{% endschema %}