{{ 'collapse-image.css' | asset_url | stylesheet_tag }}

{%- style -%}

{%- endstyle -%}

<section class="collapse-image">
  <div class="collapsible">
    <div class="collapsible__container">
      {%- for block in section.blocks -%}
        <div class="collapsible__section">
          <div class="collapsible__label">
            <span>{{ block.settings.label }}</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="10" viewBox="0 0 18 10" fill="none">
              <path d="M17 1L9 9L1 1" stroke="#2D3339" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
          <div class="collapsible__content">
            <p>{{ block.settings.content }}</p>
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
  <div class="image">
    <div class="collapse-image__image" style="background-image: url({{ section.settings.image | image_url }})">
      <div class="collapse-image__image-title title">{{ section.settings.title }}</div>
    </div>
  </div>
</section>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const labels = document.querySelectorAll(".collapsible__label");
    const contents = document.querySelectorAll(".collapsible__content");

    labels.forEach((label, index) => {
      label.addEventListener("click", () => {
        contents.forEach((content, contentIndex) => {
          if (contentIndex !== index) {
            content.style.maxHeight = null;
            content.classList.remove("active");
          }
        });

        const content = contents[index];
        if (content.classList.contains("active")) {
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
        }
        content.classList.toggle("active");
      });
    });
  });
</script>
{% schema %}
{
  "name": "Collapse Image",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title",
      "default": "Product Spects",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "collapseImage",
      "name": "Collapse Item",
      "settings": [
        {
          "type": "text",
          "id": "label",
          "default": "Imageing",
          "label": "Label"
        },
        {
          "type": "text",
          "id": "content",
          "default": "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam",
          "label": "Content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collapse Image"
    }
  ]
}
{% endschema %}